In [15]:
test = "This is a test of the emergency text system"

In [ ]:
file = open("test.txt","w+") 
file.write(test)
file.close()

In [16]:
file1 = open("test.txt","r+") 
print(file1.read())

This is a test of the emergency text system

In [ ]:
import sqlite3 as sq
conn = sq.connect('books.db')
c = conn.cursor()
c.execute("""CREATE TABLE books(
           title text,
           author text,
           year integer
)""")
conn.commit()
conn.close()

In [1]:
import csv
with open('books.csv') as csv_file:
    csv_reader = csv.reader(csv_file)
    for line in csv_reader:
     print(line)

['title', 'author', 'year']
['The Weirdstone of Brisingamen', 'Alan Garner', '1960']
['Perdido Street Station', 'China MiÃ©ville', '2000']
['Thud!', 'Terry Pratchett', '2005']
['The Spellman Files', 'Lisa Lutz', '2007']
['Small Gods', 'Terry Pratchett', '1992']

In [17]:
type(csv_reader)

_csv.reader

In [2]:
import pandas as pd
# load the data into a Pandas DataFrame
users = pd.read_csv('books.csv')
users

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

In [13]:
import sqlite3 as sq
conn = sq.connect('awesomebooks.db')
c = conn.cursor()
bookdetails = pd.read_csv('books.csv')
# write the data to a sqlite table
bookdetails.to_sql('awesomebooks', conn, if_exists='append', index = False)
conn.commit()
lm =c.execute('''SELECT * FROM awesomebooks''').fetchall()
print(lm)
conn.close()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

In [14]:
import sqlite3 as sq
conn = sq.connect('awesomebooks.db')
c = conn.cursor()
bookdetails = pd.read_csv('books.csv')
# write the data to a sqlite table
lp =c.execute('''SELECT * FROM awesomebooks ORDER BY title''').fetchall()
print(lp)
conn.close()

[('Perdido Street Station', 'China Miéville', 2000), ('Perdido Street Station', 'China Miéville', 2000), ('Small Gods', 'Terry Pratchett', 1992), ('Small Gods', 'Terry Pratchett', 1992), ('The Spellman Files', 'Lisa Lutz', 2007), ('The Spellman Files', 'Lisa Lutz', 2007), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Thud!', 'Terry Pratchett', 2005), ('Thud!', 'Terry Pratchett', 2005)]

In [ ]:
from flask import flask
from flask_sqlalchemy import SQLAlchemy